*.pyc
.idea
env
tmp
*.log
build
html-coverage
html-report


sandbox
.env

#*.ipynb
*.dot
*.svg

*.doctrees
artifacts
cache
index

.pytest_cache

.ipynb_checkpoints

*.egg-info
dist
config/settings.cfg

